*{
	margin:0;
	padding:0;
}
@font-face {
    font-family: 'Midashi'; /*a name to be used later*/
    src: url('../fonts/MidashiGoPro-MB31.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Hirakakupro'; /*a name to be used later*/
    src: url('../fonts/Hirakakupro.otf'); /*URL to font*/
}
body{
	width:1200px;
	height:900px;
	/* background-color:grey; */
}
.main{
}
.btn-1{
	background-image: url("../images/test.png");
	width: 516px;
	height: 85px;
	margin-left:338px;
	margin-top:29px;
	font-family: 'Midashi';
}
.txt-btn-1{
	position:absolute;
	font-size:18pt;
	
	margin-top:22px;
	margin-left:73px;
}
.txt-btn-2{
	position:absolute;
	font-size:21pt;
	color:white;
	margin-top:19px;
	margin-left:144px;
}
.header-1{
	margin-left:120px;
	font-size:21pt;
	padding-top:99px;
	font-family: 'Midashi';
}
.line{
	width: 960px;
	margin-left:120px;
	margin-top:13px;
	border-top: 1px solid black;
}
.container{
	font-family: 'Hirakakupro';
	margin-left:120px;
	width:960px;
}
.header-2{
	font-size:18pt;
	color:#d94e09;
	font-family: 'Midashi';
	margin-left: -15px;
}
.list-1{
	color: #888888;
}
.img{
	background-image: url("../images/building.png");
	width: 381px;
	height: 286px;
}
ul{
	list-style-image: url('../images/bullet.png');
	list-style-position: inside;
	margin-left:10px;
}
ol{
	list-style-position: inside;
	margin-left:10px;
}
.white-bg{
	background-color:#ededed;
}
.row{
	padding-top:15px;
}
